<% $i = 0 %>

<section class="section px-6">
    <div class="container">
        <h2 class="title is-info">Archived Events</h2>
    </div>
</section>
<section class="px-6">
<div class="container">
    <div class="center">

<%= render partial: 'events_feed', locals: {events = @past_events, i: 0}%>

 </div>
</div>
</section>