<div class="section">
  <div class="column mx-6 my-2 border">

  <div class="container wrap">
<h1 clas="title">Editing Event</h1>

<%= render 'form', event: @event %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

</div>
</div>
</div>