/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bulma';

 article.tile:hover{
     background-color: $light;
 }

 nav.level {
     background-color: $info;
 }




 h2.title{

    border-bottom: $yellow double thick;
 }
 
 p.event.title{
    color: $link;

 }

p.event.subtitle {
    font-weight: bold;
}

 p.event.body {
    font-style: italic;
    color: black;
 }
 
 p.title.add-event {
    color: $primary;

 }

 p.event.count {
     color: $link
 }

 .border{
    border: $grey-lighter thin solid;
    border-radius: 8px;
 }
